		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<ul class="default">
								<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/uefachampionleague.png" height="40px" style="padding:0,0,0,0;font-weight:900;color:#fff;" /></td><td><a href="//uefa.com/uefachampionsleague"><span style="vertical-align:15px">Champions League</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/uefaeuropaleague.png" height="40px" style="padding:0,0,0,0;font-weight:900;color:#fff;" /></td><td><a href="//uefa.com/uefaeuropaleague"><span style="vertical-align:15px">Liga Europa</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/copalibertadores.png" height="40px" style="padding:0,0,-10,-10;font-weight:900;color:#fff;" /></td><td><a href="#"><span style="vertical-align:15px">Copa Libertadores</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/copasudamericana.png" height="40px" style="margin-left:-3px;margin-right:10px;font-weight:900;color:#fff;" /></td><td><a href="#"><span style="vertical-align:5px">Copa Sudamericana</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/laliga.png" height="80px" style="margin-left:12px;margin-right:10px;margin-bottom:2px;font-weight:900;color:#fff;" /></td><td><a href="//www.laliga.es/"><span style="vertical-align:37px">La Liga</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/seriea.png" height="40px" style="padding:0,0,-10,-10;font-weight:900;color:#fff;" /></td><td><a href="//www.legaseriea.it/it"><span style="vertical-align:15px">Serie A</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/eredivisie.png" height="40px" style="margin-right:10px;font-weight:900;color:#fff;" /></td><td><a href="//www.eredivisie.nl/"><span style="vertical-align:15px">Eredivisie</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/premierleague.png" height="40px" style="padding:0,0,-10,-10;font-weight:900;color:#fff;" /></td><td><a href="//www.premierleague.com/#!"><span style="vertical-align:15px">Premier Legue</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/allsvenskan.png" height="40px" style="margin-right:23px;margin-left:10px;font-weight:900;color:#fff;" /></td><td><a href="#"><span style="vertical-align:15px">Allsvenskan</span></a></td></tr></tbody></table></li>
							</ul>
							<p>Sìguenos a través de las redes sociales</p>
								<nav id="nav">
									<ul>
										<li><a class="fa fa-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><i class="fa fa-linkedin"><a href="#"></a></i></li>
										<li><i class="fa fa-facebook"><a href="#"></a></i></li>
										<li><i class="fa fa-twitter"><a href="#"></a></i></li>
										<li><i class="fa fa-github"><a href="#"></a></i></li>
										<li><i class="fa fa-rss"><a href="#"></a></i></li>
									</ul>
								</nav>
						</section>
					</div>
					<div class="3u">
						<section>
							<ul class="default" style="color:#fff;font-weight:900">
								<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/ekstraklasa.png" height="40px" style="margin-right:10px;margin-left:4px;" /></td><td><a href="#"><span style="vertical-align:15px">Ekstraklasa</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/bundesliga.png" height="40px" style="padding:0,0,-10,-10;margin-left:1px;" /></td><td><a href="//www.bundesliga.com/en/"><span style="vertical-align:15px">Bundesliga</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/ligue1.png" height="60px" style="padding:0,0,-10,-10;margin-left:-12px;" /></td><td><a href="//www.ligue1.com/"><span style="vertical-align:15px">Ligue 1</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/fifa.png" height="30px" style="margin-right:10px;margin-left:12px;" /></td><td><a href="#"><span style="vertical-align:15px">FIFA WC2018 QT(Asia)</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/fifa.png" height="30px" style="margin-right:10px;margin-left:12px;" /></td><td><a href="#"><span style="vertical-align:15px">FIFA WC2018 QT(Oceania)</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/fifa.png" height="30px" style="margin-right:10px;margin-left:12px;" /></td><td><a href="#"><span style="vertical-align:15px">FIFA WC2018 QT(Africa)</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/fifa.png" height="30px" style="margin-right:10px;margin-left:12px;" /></td><td><a href="#"><span style="vertical-align:15px">FIFA WC2018 QT(Europa)</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/fifa.png" height="30px" style="margin-right:10px;margin-left:12px;" /></td><td><a href="#"><span style="vertical-align:15px">FIFA WC2018 QT(Sudamerica)</span></a></td></tr></tbody></table></li>
									<li style="margin-top:-20px;"><table><tbody><tr><td><img src="images/fifa.png" height="30px" style="margin-right:10px;margin-left:12px;" /></td><td><a href="#"><span style="vertical-align:15px">FIFA WC2018 QT(Norteamerica, Centralamerica y Caribe)</span></a></td></tr></tbody></table></li>
							</ul>
						</section>				
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>Democracia</h2>
							</header>
							<p style="color:#fff;">Aterrorizar a las personas cuando se trata de agilizar la informacion al pueblo de manera objetiva atenta contra la democracia y se puede categorizar como terrorismo. La gente teme de mirar por TV un partido de futbol porque puede ser decretado ilegal por las obscuras fuerzas del copyright del mercantilismo. Es aterrorizar al pueblo y antidemocratico en el sentido de que el pueblo queda desinformado por no pagar. Absurdo y antidemocrático. Las fuerzas antidemocraticas del mercantilismo deberian ser perseguidas por atentar contra el orden democratico. Y pregonan la desinformacion del pueblo aterrorizandolo. Es terrorismo. Aca en este sitio la informacion es libre.</p>
						</section>
					</div>
				</div>
			</div>
		</div>