		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="3u">
						<section>
							<ul class="style1">
								<center><span style="font-weight:900;color:#fff;"><h2>Blog</h2></center></span>
								<a href="#"><span style="color:#fff;"><p>Como obtener enlaces de streams deportivas</p></span></a>
								<a href="#"><span style="color:#fff;"><p>Como emplear un player con cualquier video formato</p></span></a>
								<a href="#"><span style="color:#fff;"><p>Como obtener enlaces acestream con nuevo addon P2P</p></span></a>
							</ul>
							<p>Sìguenos a través de las redes sociales</p>
								<nav id="nav">
									<ul>
										<li><a class="fa fa-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><i class="fa fa-linkedin"><a href="#"></a></i></li>
										<li><i class="fa fa-facebook"><a href="#"></a></i></li>
										<li><i class="fa fa-twitter"><a href="#"></a></i></li>
										<li><i class="fa fa-github"><a href="#"></a></i></li>
										<li><i class="fa fa-rss"><a href="#"></a></i></li>
									</ul>
								</nav>
						</section>
					</div>
					<div class="3u">
						<section>
							<ul class="default" style="color:#fff;">
								<li><a href="#"><span style="color:#fff;">CDN TEMPLATE - La otra cara de la verdad</span></a></li>
								<li><a href="#"><span style="color:#fff;">Disclaimer DMCA</span></a></li>
								<li><a href="#"><span style="color:#fff;">Lisencia CCO-by-3.0</span></a></li>
								<li><a href="#"><span style="color:#fff;">Maquinas - Automatizacion de Tareas</span></a></li>
								<li><a href="#"><span style="color:#fff;">Carreras para Programadores - Empleo</span></a></li>
								<li><a href="#"><span style="color:#fff;">(ND)Cultura - c0c0 de 0r0(C)</span></a></li>
							</ul>
						</section>				
					</div>
					<div class="6u">
						<section>
							<header>
								<h2>Democracia</h2>
							</header>
							<p style="color:#fff;">Aterrorizar a las personas cuando se trata de agilizar la informacion al pueblo de manera objetiva atenta contra la democracia y se puede categorizar como terrorismo. La gente teme de mirar por TV un partido de futbol porque puede ser decretado ilegal por las obscuras fuerzas del copyright del mercantilismo. Es aterrorizar al pueblo y antidemocratico en el sentido de que el pueblo queda desinformado por no pagar. Absurdo y antidemocrático. Las fuerzas antidemocraticas del mercantilismo deberian ser perseguidas por atentar contra el orden democratico. Y pregonan la desinformacion del pueblo aterrorizandolo. Es terrorismo. Aca en este sitio la informacion es libre.</p>
						</section>
					</div>
				</div>
			</div>
		</div>