		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<tr><td><a href="#"><tr><td><span><a href="/"><img src="images/favicon.ico" width="90px"></a></span></td><td><img src img="images/huawei.png"></td><td><h1><span style="color:#39626f;">IPTV</span></h1></td></tr></a></h1>
						<span style="font-weight:900;">CDN by <a href="//templated.co">TEMPLATED</a> - The Free Template</span>
					</div>
					
				<!-- 2do Menu -->
					<div id="2do.menu">
						<center><tr>
							<center><td><a href="bein1.html?stretching=none#"><span><img src="images/bein1.png" height="25px"></span></a></td>
							<td><a href="bein2.html?stretching=none&lang=es#"><span><img src="images/bein2.png" height="25px"></span></a></td>
							<td><a href="bein3.html?stretching=none&lang=es#"><span><img src="images/bein3.png" height="25px"></span></a></td>
							<td><a href="bein4.html?stretching=none&lang=es#"><span><img src="images/bein4.png" height="25px"></span></a></td>
							<td><a href="bein5.html?stretching=none&lang=es#"><span><img src="images/bein5.png" width="80px"></span></a></td>
							<td><a href="bein6.html?stretching=none&lang=es#"><span><img src="images/bein6.png" width="80px"></span></a></td>
							<td><a href="bein7.html?stretching=none&lang=es#"><span><img src="images/bein7.png" width="80px"></span></a></td>
							<td><a href="bein8.html?stretching=none&lang=es#"><span><img src="images/bein8.png" width="80px"></span></a></td>
							<td><a href="bein9.html?stretching=none&lang=es#"><span><img src="images/bein9.png" width="80px"></span></a></td>
							<td><a href="bein10.html?stretching=none&lang=es#"><span><img src="images/bein10.png" width="80px"></span></a></td>
							<td><a href="bein11.html?stretching=none&lang=es#"><span><img src="images/bein11.png" width="80px"></span></a></td>
							<td><a href="bein12.html?stretching=none&lang=es#"><span><img src="images/bein12.png" width="80px"></span></a></td>
							<td><a href="bein13.html?stretching=none&lang=es#"><span><img src="images/bein13.png" width="80px"></span></a></td>
							<td><a href="bein14.html?stretching=none&lang=es#"><span><img src="images/bein14.png" width="80px"></span></a></td>
							<td><a href="bein15.html?stretching=none&lang=es#"><span><img src="images/bein15.png" width="80px"></span></a></td>
						<tr></center></center>
					</div>
					<div id="logo">
						<tr><td><span style="color:#fff;background-color:#18aea9;">url streams for ace-player:</span></td><td><span style="font-weight:900;background-color:#fff;color:#fff;text-transform:none;"><pre>
						beIN 1 HQ: http://93.174.93.84:8081/live/bein1-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjQ3OjA3IFBNJmhhc2
hfdmFsdWU9WWJTWmpXUkRpRG1Cc0NZdXBZU0Irdz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw== 
beIN 2 HQ: http://93.174.93.84:8081/live/bein2-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjA0OjUyIFBNJmhhc2
hfdmFsdWU9L1hERzc4MCtETXI5Q0U3L245Ky9tdz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 3 HQ: http://93.174.93.84:8081/live/bein3-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjI4OjU3IFBNJmhhc2
hfdmFsdWU9Skc4M0VibXNIMFpuQTV6MGFpYzJNZz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 4 HQ: (BEIN #3): http://93.174.93.84:8081/live/bein4-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjMxOjIx
IFBNJmhhc2hfdmFsdWU9eE5HelBEazhEdUhFN2YzTmw0MU4rQT09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 5 HQ: http://93.174.93.84:8081/live/bein5-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjMzOjE5IFBNJmhhc2
hfdmFsdWU9S2xTR2M0M3ZzUG5uVEdaWmpobkcrQT09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 6 HQ: http://93.174.93.84:8081/live/bein6-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjM2OjE1IFBNJmhhc2
hfdmFsdWU9aWlZN3NkbmwwOHVxYS85SEt1MnRTdz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 7 HQ: http://93.174.93.84:8081/live/bein7-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjM4OjAyIFBNJmhhc2
hfdmFsdWU9TkVDRzczd1p0L0ZqaUF0L2ZHQjRIZz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 8 HQ: http://93.174.93.84:8081/live/bein8-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjM5OjIzIFBNJmhhc2
hfdmFsdWU9UHRNelJqdWU1Tk1URmxQZ1RVdlBKZz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 9 HQ: http://93.174.93.84:8081/live/bein9-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjQxOjA3IFBNJmhhc2
hfdmFsdWU9TExETWlSRUQxU2lLWFpmN2FrSkZDZz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xMw==
beIN 10 HQ: http://93.174.93.84:8081/live/bein10-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjQyOjM0IFBNJmhhc2
hfdmFsdWU9Q0xBemV1c1lHd1kxUzJMc2Y0SC9tdz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xNA==
beIN 11 HQ: http://93.174.93.84:8081/live/bein11-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjQ0OjM5IFBNJmhhc2
hfdmFsdWU9eS9EWTZoa3hXVFh0TDFpOE12cnRDUT09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xNA==
beIN 12 HQ: http://93.174.93.84:8081/live/bein12-hq/playlist.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9Ny8xOS8yMDE3IDEyOjQ1OjUyIFBNJmhhc2
hfdmFsdWU9RTNoalFvREU1SURWR0ppQktOalZ0dz09JnZhbGlkbWludXRlcz02MCZpZD0xNjIuMTU4LjEzNC43MiZzdHJtX2xlbj0xNA==</pre></span></td></tr>
					</div>	<!-- #18aea9 --> <!-- #e16408 -->
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/"><span style="font-weight:900;">Home</span></a></li>
							<!--<li><a href="threecolumn.html"><span style="font-weight:900;">Two Sidebars</span></a></li>-->
							<li class="active"><a href="bein1.html?stretchning=none&stretching=none#"><span style="font-weight:900;color:#000;">beIN Sports</span></a></li>
							<li><a href="alien_covenant.html"><span style="font-weight:900;">Movies</span></a></li>
							<li><a href="about.html"><span style="font-weight:900;">About Us</span></a></li>
							<!--<li><a href="onecolumn.html"><span style="font-weight:900;">No Sidebar</span></a></li>-->
						</ul>
					</nav>

			</div>
		</div>