		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<tr><td><a href="#"><tr><td><span><a href="/"><img src="images/favicon.ico" width="90px"></a></span></td><td><img src img="images/huawei.png"></td><td><h1><span style="color:#39626f;">IPTV</span></h1></td></tr></a></h1>
						<span style="font-weight:900;">CDN by <a href="//templated.co">TEMPLATED</a> - The Free Template</span>
					</div>
					
				<!-- 2do Menu -->
					<div class="container" style="margin-top:10px;">
		
					<!--   kanalmenu   -->
					<section>
						<center><tr>
							<td><a href="/matchtb.html"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matchplaneta.html"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matcharena.html"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matchigra.html"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matchnashsport.html"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/eurosportru1.html"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/eurosportru2.html"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/futbolua1.html"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="futbolua2.html"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/sportua1.html"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/sportua2.html"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/khltb.html"><span><img src="images/khl.TB.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/idman.html"><span><img src="images/iDMAN.Sport.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matchfutbol1.html"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matchfutbol2.html"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/matchfutbol3.html"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="/viasatsport.html"><span><img src="images/viasatsport.png" height="45px" style="margin-right:10px;"></span></a></td>
							<td><a href="//el-equilibrista.cf"><span><img src="images/segmento.png" height="45px" style="margin-right:10px;"></span></a></td>
						</tr></center>
					</section>    
					</div>             
					<div id="logo"> 
						<span style="color:#fd0125;">Give the streams one minute to play</span>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/"><span style="font-weight:900;">Home</span></a></li>
							<!--<li><a href="threecolumn.html"><span style="font-weight:900;">Two Sidebars</span></a></li>-->
							<li class="active"><a href="bein1.html?stretchning=none&stretching=none#"><span style="font-weight:900;color:#000;"><img src="images/bein.png" height="25px" style="vertical-align:-10px;"></span></a></li>
							<li><a href="alien_covenant.html"><span style="font-weight:900;">Movies</span></a></li>
							<li><a href="about.html"><span style="font-weight:900;">About Us</span></a></li>
							<!--<li><a href="onecolumn.html"><span style="font-weight:900;">No Sidebar</span></a></li>-->
						</ul>
					</nav>

			</div>
		</div>