		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
						<tr><td><a href="#"><tr><td><span><a href="/"><img src="images/favicon.ico" width="90px"></a></span></td><td><img src img="images/huawei.png"></td><td><h1><span style="color:#39626f;">IPTV</span></h1></td></tr></a></h1>
						<span style="font-weight:900;">CDN by <a href="//templated.co">TEMPLATED</a> - The Free Template</span>
					</div>
					
				<!-- 2do Menu -->
					<div id="2do.menu">
						<center><tr>
							<center><td><a href="bein1.html?stretching=none#"><span><img src="images/bein1.png" height="25px"></span></a></td>
							<td><a href="bein2.html?stretching=none&lang=es#"><span><img src="images/bein2.png" height="25px"></span></a></td>
							<td><a href="bein3.html?stretching=none&lang=es#"><span><img src="images/bein3.png" height="25px"></span></a></td>
							<td><a href="bein4.html?stretching=none&lang=es#"><span><img src="images/bein4.png" height="25px"></span></a></td>
							<td><a href="bein5.html?stretching=none&lang=es#"><span><img src="images/bein5.png" width="80px"></span></a></td>
							<td><a href="bein6.html?stretching=none&lang=es#"><span><img src="images/bein6.png" width="80px"></span></a></td>
							<td><a href="bein7.html?stretching=none&lang=es#"><span><img src="images/bein7.png" width="80px"></span></a></td>
							<td><a href="bein8.html?stretching=none&lang=es#"><span><img src="images/bein8.png" width="80px"></span></a></td>
							<td><a href="bein9.html?stretching=none&lang=es#"><span><img src="images/bein9.png" width="80px"></span></a></td>
							<td><a href="bein10.html?stretching=none&lang=es#"><span><img src="images/bein10.png" width="80px"></span></a></td>
							<td><a href="bein11.html?stretching=none&lang=es#"><span><img src="images/bein11.png" width="80px"></span></a></td>
							<td><a href="bein12.html?stretching=none&lang=es#"><span><img src="images/bein12.png" width="80px"></span></a></td>
							<td><a href="bein13.html?stretching=none&lang=es#"><span><img src="images/bein13.png" width="80px"></span></a></td>
							<td><a href="bein14.html?stretching=none&lang=es#"><span><img src="images/bein14.png" width="80px"></span></a></td>
							<td><a href="bein15.html?stretching=none&lang=es#"><span><img src="images/bein15.png" width="80px"></span></a></td>
						<tr></center></center>
					</div>
					<div id="logo">
						<tr><td><span style="color:#fff;background-color:#18aea9;">url streams for ace-player:</span></td><td><span style="font-weight:900;background-color:#fff;color:#fff;text-transform:none;"><a href="http://xc.cobra-iptv.com:25461/get.php?username=Beinexclusive-V2&password=ghO8nBbaHo&type=m3u">http://xc.cobra-iptv.com:25461/get.php?username=Beinexclusive-V2&password=ghO8nBbaHo&type=m3u</a></span></td></tr>
					</div>	<!-- #18aea9 --> <!-- #e16408 -->
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/"><span style="font-weight:900;">Home</span></a></li>
							<!--<li><a href="threecolumn.html"><span style="font-weight:900;">Two Sidebars</span></a></li>-->
							<li class="active"><a href="bein1.html?stretchning=none&stretching=none#"><span style="font-weight:900;color:#000;">beIN Sports</span></a></li>
							<li><a href="alien_covenant.html"><span style="font-weight:900;">Movies</span></a></li>
							<li><a href="about.html"><span style="font-weight:900;">About Us</span></a></li>
							<!--<li><a href="onecolumn.html"><span style="font-weight:900;">No Sidebar</span></a></li>-->
						</ul>
					</nav>

			</div>
		</div>