						<div id="sidebar" class="3u">
							<section>
								<center><header>
									<h3>Optimizado para los siguientes navegadores:</h3>
									<span class="byline"><tr><td><img src="images/ieicon.png" width="25px" style="margin-right:15px;"></td></tr></span>
								</header></center>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<p><iframe src="http://widget.tvmatchen.nu/5981d12179f82?heading=TV-matcher&border_color=blue&autoscroll=1" frameborder="0" style="width: 300px; height: 400px; border: none;margin-left:-20px;"></iframe></p>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								<p>Segu
								<p><div id="flashWorldLeagues" style="margin-left:-20px;" class="3u"><object width='300' height='400' id='flashWorldLeagues' classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'>
									<param name='movie' value='http://www.fifa.com/flash/widgets/worldmatchcentre/app.swf?leagueCode=eng&lang=e'/>
									<param name='bgcolor' value='#ffffff'/>
									<param name='quality' value='high'/>
									<param name='wmode' value='transparent'/>
									<param name='flashvars' value='lang=e&leagueCode=eng'>
									<embed width='300' height='900' margin-left='-20px' flashvars='lang=e&amp;leagueCode=eng' wmode='transparent' quality='high' bgcolor='#ffffff' name='flashWorldLeagues' id='flashWorldLeagues' src=http://www.fifa.com/flash/widgets/worldmatchcentre/app.swf?leagueCode=eng&lang=e type='application/x-shockwave-flash'/>
								</object></div></p>
								<p><span><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"><img src="images/football.png" width="25px"></span></p>
								

							</section>
						</div> 