<!DOCTYPE HTML>
<!--
	Monochromed by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{% include head.html %}
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<!--<div id="logo">
						<h1><a href="/"><span style="color: #364823"><h4>Huawei IPTV</h4></span></a></h1>
						<span>CDN by TEMPLATED</span>
					</div>
				<!-- Logo -->
					<div id="logo">
						<tr><td><a href="#"><tr><td><span><a href="/"><img src="images/favicon.ico" width="90px"></a></span></td><td><img src img="images/huawei.png"></td><td><h1><span style="color:#39626f;">IPTV</span></h1></td></tr></a>
						<span style="font-weight:900;">CDN by <a href="//templated.co">TEMPLATED</a> - The Free Template</span>
					</div>
	
				
						
						

				<!-- Nav-2 -->
					<nav id="nav" style="padding-top: 0px;">
						<ul>
							<li class="active"><a href="/"><strong style="color: #364823;font-weight:900;">Homepage</strong></a></li>
							<!--<li><a href="/threecolumn.html">Two Sidebars</a></li>-->
							<li><a href="/bein1.html?stretching=none&lang=es#"><span style="font-weight:900;"> BEIN-Sports</span></a></li>
							<!--<li><a href="/twocolumn2.html">Right Sidebar</a></li>-->
							<li><a href="/about.html"><span style="font-weight:900;">About</span></a></li>
						</ul>
					</nav>
					<div id="logo">
						<tr><td><span style="color:#fff;background-color:#18aea9;">url streams for ace-player:</span><img src="images/acestreamlogo.png"><img src="images/torrent-tv.png" height="60px"><td><img src="images/ttv-kodi.png" height="40px"></td><td><span style="font-weight:900;background-color:#fff;color:#fff;"><a href="http://super-pomoyka.us.to/trash/ttv-list">http://super-pomoyka.us.to/trash/ttv-list</a></span></td></tr>
					</div>
					<div class="container" style="margin-top:10px;">
		
					<!--   kanalmenu   -->
					<section>
						<tr>
							<td><a href="#"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></td>
							<td><a href="#"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match.BOXEO.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/khl.TB.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/iDMAN.Sport.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/GOLTV.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
							<td><a href="#"><span><img src="images/TelekanalFùtbol-HD.jpg" height="25px" style="margin-right:10px;"></span></td>
						</tr>
					</section>
					</div>

				

			</div>
		</div>
		
	<!--   main   -->
		
		<div id="main">
		
			<!--<section>
				<tr>
						<td><a href="#"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></td>
						<td><a href="#"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.BOXEO.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/khl.TB.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/iDMAN.Sport.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/GOLTV.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/TelekanalFùtbol-HD.jpg" height="25px" style="margin-right:10px;"></span></td> 
				</tr>
			</section>-->
		
			<div class="container" style="margin-top:10px;">
		
			<!--   kanalmenu   -->
			<!--<section>
				<tr>
						<td><a href="#"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></td>
						<td><a href="#"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.BOXEO.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/khl.TB.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/iDMAN.Sport.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/GOLTV.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/TelekanalFùtbol-HD.jpg" height="25px" style="margin-right:10px;"></span></td>
					</tr>
				</section>-->
				<!--   kanalmenu   -->
					<!--<div class="row">-->
								<tr><td><img src="images/saceciada.jpg" width="56px"></td><td><span><img src="images/Shaktar.Donietsk.png" style="vertical-align:3px;" height="46px"></span></td><td><span style="vertical-align:20px;">-IPTV</span></td></tr>
					
			<!--   ligarna   -->
			
				<div class="row">
					
					<div class="4u">
						<section>
							<div class="list-group">
								<a href="//uefa.com/uefachampionsleague"><span><img src="/images/uefachampionleague.png" style="vertical-align:24px"></span></a>
							</div>
							<!--<a href="#" class="image full"><img src="images/pics01.jpg" alt="" /></a>-->
							<!--<p>Partidos de la UEFA Champion League en directo los días martes y miércoles.</p>
							<center><a href="#" class="button">Read More</a></center>-->
						</section>
					</div>
					<div class="4u">
						<section>
							<div class="list-group">
								<a href="//uefa.com/uefaeuropaleague"><span><img src="/images/uefaeuropaleague.png"></span></a>
							</div>
							<!--<a href="#" class="image full"><img src="images/pics11.jpg" alt="" /></a>-->
							<!--<p>Partidos de la UEFA Europa League en directo los días jueves.</p>
							<center><a href="#" class="button">Read More</a></center>-->
						</section>
					</div>
					<div class="4u">
						<section>
							<div class="list-group">
								<a href="//conmebol.com/copa-sudamericana-2016"><span><img src="/images/copalibertadores.png" style="vertical-align:-28px;"></span></a>
							</div>
							
						</section>
					</div>
					
					</div>
				
				</div>
					
			</div>
					
		</div>
		
	<!--   footer   -->
	
		{% include footer.html %}
		
		
	</body>
	
</html>