<!DOCTYPE HTML>
<!--
	Monochromed by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	{% include head.html %}
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<!--<div id="logo">
						<h1><a href="/"><span style="color: #364823"><h4>Huawei IPTV</h4></span></a></h1>
						<span>CDN by TEMPLATED</span>
					</div>
				<!-- Logo -->CDN powered By <a href="//templated.co">TEMPLATED</a>
	
				
						
						

				<!-- Nav-2 -->
					<nav id="nav" style="padding-top: 0px;">
						<ul>
							<li class="active"><a href="/"><strong style="color: #364823;font-weight:900;">Homepage</strong></a></li>
							<!--<li><a href="/threecolumn.html">Two Sidebars</a></li>-->
							<li><a href="/bein1.html?stretching=none&lang=es#"><span style="font-weight:900;"> BEIN-Sports</span></a></li>
							<!--<li><a href="/twocolumn2.html">Right Sidebar</a></li>-->
							<li><a href="/about.html"><span style="font-weight:900;">About</span></a></li>
						</ul>
					</nav>

				

			</div>
		</div>
		
	<!--   main   -->
		
		<!--<div id="main">-->
		
			<div class="container" style="margin-top:10px;">
		
			<!--   kanalmenu   -->
		
				<!--   kanalmenu   -->
					<tr>
						<td><a href="#"><span><img src="images/Match!.png" height="25px" style="margin-right:10px;"></span></a></td>
						<td><a href="#"><span><img src="images/Match!Planeta-HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.DRABNINGEN.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.BOXEO.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.E-SPORT.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Eurosport1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Eurosport2.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/FùtbolUA-1HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/FùtbolUA-2HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/sport.ukrania-1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/sport.ukrania-2.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/khl.TB.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/iDMAN.Sport.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.FUTBOL-1.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match!Fùtbol-2HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match!Fùtbol-3HD.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/GOLTV.png" height="25px" style="margin-right:10px;"></span></td>
						<td><a href="#"><span><img src="images/Match.ARENA.png" height="25px" style="margin-right:10px;"></span></td>
					</tr>
					
			</div>
		<div id="main">
		</div>
			
		<!--</div>-->
		
	</body>
	
</html>